.App {
  background-image: url('./img/fondo-comic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    min-height: 100vh;
  }

  .title {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
  }

